/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #f0efef;

}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

.logo {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: left;
  font-size: 30px;
  padding: 1% 0% 1% 8%;
  width: 20%;
  display: inline-block;

  font-family: Arial, sans-serif;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color: #033048;
  padding-top: 1%;
  padding-bottom: 3%;
}


.top {
  vertical-align: top;
}

main{
  width: 80%;
  padding: 5% 2% 2% 8%;
  display: inline-block;
}

article{
  width: 15%;
  display: inline-block;
  padding-top: 5%;

}

header {
  background-color: #033048;
}

nav {
  padding-left: 20%;
  padding-bottom: 1%;
  display: inline-block;
  width: 70%;

}

li {
  padding: 3%;

  height:  2%;
  list-style-type: none;
  margin-left: 1%;


}
nav li{
  display: inline-block;
}

article li {
  line-height: 4px;
}

h2 {
  font-weight: bolder;
  font-size: 20px;
  color: #033048;
  padding-bottom: 15px;
  font-family: Arial, sans-serif;
}
nav a {
  text-decoration: none;
  color: #f9e42e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #033048;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

main a {
  text-decoration: none;
  color: #033048;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 5%;
  float: right;
}

hr {
  border-top: solid #033048 1px;
}

.bold{
  font-weight: bold;
}

.adspace {
  background-color: #fff;
  padding-top: 2%;
  padding-left: 3%;
  width: 100%;
  height: 300px;
  float: right;

}

.marginadjust {
  margin-top: -19%;
}

.logo2 {
  color: #f9e42e;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  font-size: 30px;
}

.signup {
  height: 100px;
  width: 800px;
  background-color: #f9e42e;
  display: block;
  text-align: center;
  padding: 26px 0px 40px 0px;

}

footer {
  color: #fff;
  height: 200px;
  width: 800px;
  background-color: #121212;
  display: block;
  text-align: center;
  padding: 26px 0px 40px 0px;

}

footer img {
  margin: 10px;
  padding: 20px 0;
}


.button02 {
  padding: 10px 40px 10px 40px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
border-radius: 2px;
  background-color: #033048;
  border: 0px;
  vertical-align: middle;
  text-align: center;
}


p {
  text-decoration: none;
  color: #033048;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

main p {
  padding-top: 5%;
  padding-right: 5%;
    text-decoration: none;
    color: #606161;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

a:hover {
  color: #606161;
}

.firstcharacter {
  color: #606161;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
